@model IEnumerable<SistemaLavanderia.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Estilos{
    <link href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/fixedheader/3.2.3/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="justify-content-center">Gestion de Clientes</h1>
            <hr />
            <p>
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </p>
        </div>
        <div class="card-body">
            <table class="table table-striped" id="tb_clientes" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.IdCliente">Edit</a> |
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdCliente">Details</a> |
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCliente">Delete</a> |
                                <a class="btn btn-dark" asp-action="Historial" asp-route-id="@item.IdCliente">Historico de cliente</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>

    <script src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>

    <script>

        new DataTable('#tb_clientes', {
            layout: {
                bottomEnd: {
                    paging: {
                        boundaryNumbers: false
                    }
                }
            },
            "language": {
                url: "https://cdn.datatables.net/plug-ins/2.0.5/i18n/es-ES.json"
            }
        });

    </script>
}
