@model SistemaLavanderia.Models.Pedido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantPrendas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantPrendas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPedidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPedidoNavigation.DesEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LavadoraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LavadoraNavigation.DesLavadoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicioNavigation.DesServicio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
